/*Estilo*/
/*API - 1*/
body{
  background-image: url(../imagenes/imagen_pagina_web_pl.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 95vh;
  background-attachment: fixed;
  background-position: center;
}

.marvel{
	background-color: #000000;
}

#personajeDatos{
	margin-top: 8%;
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}

#text-principal{
	margin-top: 5%;
	font-size: 100px;
}

*{
	margin:0;
	padding: 0;
	box-sizing: border-box; 
}
h3{
	font-family: 'Arial';
	font-size: 20px;
	letter-spacing: 1px;
	width: 100%;
	background: #CB4335 ;
	padding: 15px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 5px;
	text-align: center;
}
#container{
	background: #610B0B;
	width: 100%;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
#container form{
	background: #FE2E2E;
	width: 350px;
	padding: 5px;
	border-radius: 10px;
}
#container form img{
	margin: 15px auto;
	text-align: center;
	display: block;
}
#container form input{
	width: 95%;
	padding: 5px;
	display: block;
	margin: 10px auto;
	border-radius: 10px;
	border: 1px solid #610B0B;
	text-align: center;
	background: #fff;
}
#container form input[type='submit']{
	background: #8A0808;
	padding: 5px;
	color: #fff;
	letter-spacing: 1px;
	border:1PX solid #610B0B;
	cursor:pointer;
}
.alert{
	font-family: 'Arial';
	font-size: 10px;
	text-align: center;
}

.menu_marvel{
	list-style: none;
	padding: 0;
	width: 70%;
	height: 100%;
	margin: auto;
	background: #ff0000;
}

.menu_marvel li{
	display: inline-block;
	text-align: center;
}

.menu_marvel ul button{
	position: relative;
	display: inline-block;
	padding: 5px 35px;
	border: none;
	background-color: #ff0000;
	color: #fff;
	outline: none;
	font-size: 30px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.2s;	
}

.menu_marvel ul button:hover{
	background: #fff;
	color: #ff0000;
}

.container_marvel img{
	padding-left: 100px;
	float: left;
	justify-content: center;
	width: 75%;
	height: 75%;
}

#imagen_fm{
	margin-left: 85%;
	width: 125%;
	height: 125%;
}

.container_marvel h3{
	font-family: inherit;
	font-size: 25px;
	text-align: justify;
	padding-right: 100px;
	float: left;
    color: #26C114;
	width: 600px;
}

.container_marvel h2{
	font-family: inherit;
	font-size: 20px;
	padding-right: 100px;
	float: left;
    color: #26C114;
	width: 500px;
}

.container_marvel p{
	font-family: inherit;
	font-size: 15px;
	padding-right: 100px;
	float: left;
    color: #fff;
	width: 500px;
}
